@import '../../styles/bootstrap';

.status {
  &-container {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
  }

  &-card {
    margin: 8px 16px;

    &-grid {
      width: 50%;
    }

    &-list {
      width: 100%;
    }
  }

  &-card-container {
    display: flex;
    flex-direction: row;
  }

  &-job-name {
    text-align: left;
    padding-right: 16px;

    &-header {
      max-lines: 2;
      width: 100%;
      overflow: hidden;
      padding-bottom: 4px;
      overflow-wrap: break-word;
    }
  }

  &-info-chunk {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-content: stretch;
  }

  &-job-image {
    width: 100px;
    height: 100px;

    &-opaque {
      opacity: 0.6;
    }

    &-loading {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-container {
      position: relative;
      display: flex;
      align-content: center;
      align-items: center;
      margin-right: 16px;
    }
  }

  &-progress {
    align-self: center;
  }

  &-build-timestamp {
    text-align: left;
    padding-bottom: 4px;
  }

  &-culprit-chip {
    margin: 4px;

    &-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-flow: wrap;
    }
  }

  &-cause-chip {
    margin: 4px;

    &-container {
      margin-top: 8px;
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-flow: wrap;
    }
  }
}

.status-circle {
  &-success {
    background-color: $success;

    &-outline {
    }
  }

  &-unstable {
    background-color: $unstable;

    &-outline {
      border-color: $unstable;
      border-width: 5px;
      border-style: solid;
    }
  }

  &-failure {
    background-color: $failure;

    &-outline {
      border-color: $failure;
      border-width: 10px;
      border-style: solid;
    }
  }

  &-aborted {
    background-color: $aborted;

    &-outline {
      border-color: $aborted;
      border-width: 5px;
      border-style: solid;
    }
  }

  &-null {
    background-color: $unknown;

    &-outline {
    }
  }

}

