@import '../../styles/bootstrap';

.status {
  &-container {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
  }

  &-card {
    margin: 8px 16px;

    &-grid {
      width: 50%;
    }

    &-list {
      width: 100%;
    }
  }

  &-card-container {
    display: flex;
    flex-direction: row;
  }

  &-job-name {
    text-align: left;
  }

  &-info-chunk {
    display: flex;
    flex-direction: column;
  }

  &-job-image {
    width: 100px;
    height: 100px;
    margin-right: 16px;
  }

  &-build-timestamp {
    text-align: left;
  }
}

.status-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 8px;

  &-success {
    background-color: $success;

    &-outline {

    }
  }

  &-unstable {
    background-color: $unstable;

    &-outline {
      border-color: $unstable;
      border-width: 2px;
      border-style: solid;
    }
  }

  &-failure {
    background-color: $failure;

    &-outline {
      border-color: $failure;
      border-width: 5px;
      border-style: solid;
    }
  }

  &-aborted {
    background-color: $aborted;

    &-outline {
      border-color: $aborted;
      border-width: 2px;
      border-style: solid;
    }
  }

  &-null {
    background-color: $unknown;

    &-outline {
      border-color: $unknown;
      border-width: 2px;
      border-style: solid;
    }
  }

}

