@import '../../styles/bootstrap';

.app {
  &-container {
    text-align: center;
    background-color: $bg-color;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  &-column {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  &-column-container {
    display: flex;
    flex-direction: row;
    height: 100%;
  }

  &-header-container {
    display: flex;
    position: relative;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  &-header-text {
    padding-bottom: 16px;
    padding-top: 16px;
    color: $failure !important;
  }

  &-toolbar-text {
    flex: 1;
    padding: 32px;
  }

  &-settings-icon {
    position: absolute;
    right: 16px;
  }
}
